.content{
     width: 600px;
     &__img{
          height: 100vh;
          position: absolute;
          right: 50%;
          top: 50%;
          transform: translate( 50% , -50%);
          width: 100%;
          height: 100%;
          z-index: -1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;
     }
     &__name{
         max-width: 300px;
          background-size: cover;
     }
     &__year{
          margin:0 auto;
          text-align: center;
          color: #fff;
          border-right: 1px solid #fff;
          margin-right: 10px;
     }
     &__text{
          color: #fff;
     }
}
