@import '~video-react/styles/scss/video-react';
body{
     background-color: black;
}
.content{
     width: 600px;
     padding: 25px;
     &__img{
          height: 100vh;
          position: absolute;
          right: 50%;
          top: 50%;
          transform: translate( 50% , -50%);
          width: 100%;
          z-index: -1;
          display: flex;
          justify-content: center;
          background-repeat: no-repeat;
          align-items: center;
          background-size: cover;
     }
     &__name{
         max-width: 300px;
          background-size: cover;
     }
     &__year{
          text-align: center;
          padding: 0 7px;
          margin:0 auto;
          text-align: center;
          color: #fff;
          border-right: 1px solid #fff;
          margin-right: 10px;
     }
     &__text{
          color: #fff;
     }
     &__info{
         display: flex;
        flex-direction: column;
        justify-content: flex-start;

     }
     &__btn{
          margin-top: 30px;
          display: flex;
     }
         
     &__play{
          padding: 10px;
          background-color: red;
          display: flex;
          justify-content: center;
          color: black;
          outline: none;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 700;
          border: none;
          margin-right: 7px;
          margin-right: 20px;
         
     }
     &__fa{
          margin-right: 7px;
     }
     &__playlist{
          padding: 9px;
          background-color: rgb(100, 49, 49);
          color: black;
          outline: none;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 700;
          border: none;
     }
     &__kino{
          margin-top: 50px;
     }
     &__treiler{
          
          text-decoration: none;
          color: #fff;
          font-size: 24px;
     }

}
.video{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     width: 100%;
}
