*{
  
     margin:0;
     padding: 0;
     box-sizing: border-box;
}


.header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 20px;
     &__item{
          display: flex;
          justify-content: center;
     }
     &__list{
          list-style: none;

     }
     &__link{
          text-decoration: none;
          color: #fff;
          margin-left: 15px;
          &:hover{
               color: red;
               cursor: pointer;
          }
     }
     &__search{
          display: flex;

     }
     &__input{
          padding: 9px 35px;
          outline: none;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 9px;
          cursor: pointer;
          background-color: transparent;
     }
     &__fa{
          position: absolute;
          top: 25%;
          right: 16%;
          transform: translate(-50%, -60%);
          margin-right: -5px;
          color: #fff;
          border-right: 1px solid #fff;
          padding-right: 9px;
  
          }
     
}
